body {
  background-image: url('../assets/images/simple-bg.png');
  background-repeat: repeat-x;
  background-color: #616161;
}

#main {
  width: 960px;
  height:500px;
  border: 1px solid black;
  margin: 20px auto 20px auto;
}

.asset {
  visibility: hidden;
  position: absolute;
  left: -1000px;
  top: -1000px;
}
